:root {
	--myDarkGray: rgb(49, 53, 55);
	--myLightGray: rgb(70, 70, 70);
}
*, body {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
body {
	background-color: var(--myLightGray);
	background-attachment: fixed;
}
header {
	background-color: var(--myDarkGray);
	padding: 10px;
	float: left;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
header {
	color: white;
}
nav a {
	display: inline-block;
	padding: 10px;
	float: left;
	margin-left: 5px;
}
a:hover, a:visited, a:link {
	color: white;
}
.navigation i {
	float: left;
	margin: 10px;
}
.main-content {
	color: white;
	height: 100%;
}
.trips {
	width: 99%;
	float: left;
	background-color: var(--myDarkGray);
	border-radius: 10px;
	padding: 0px 15px;
	margin: 10px 10px 50px 10px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.card {
	background-color: white;
	text-align: center;
	width: 30%;
	border-radius: 10px;
	transition: box-shadow 0.2s ease-in-out;
	color: black;
	margin-top: 15px;
	margin-bottom: 15px;
}
.card:hover {
	box-shadow: 10px 10px 5px grey;
}
.card-img {
	width: 100%;
	border-radius: 10px;
}
footer {
	color: white;
	background-color: var(--myDarkGray);
	border-top: dimgrey 1px solid;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}
@media only screen and (max-width: 840px) {
	.card {
		width: 48%;
	}
	.trips {
		margin: 5px 5px 50px 5px;
	}
}
@media only screen and (max-width: 480px) {
	.card {
		width: 100%;
	}
	.trips {
		flex-direction: column;
	}
}
